@import url("https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto');
:root {
--background-image: url('https://i.imgur.com/BwajGMe.jpg');
--background-image-blur: 0px;
--background-image-size: cover;
--background-image-position: center;
--popout-modal-image: url('https://i.imgur.com/JXlLwox.jpg');
--popout-modal-blur: 0px;
--popout-modal-size: cover;
--popout-modal-position: center;
--home-button-image: url('https://i.imgur.com/Pobp4vy.jpg');
--home-button-size: cover;
--home-button-position: center;
--serverlist-brightness: 0.25;
--left-brightness: 0.25;
--middle-brightness: 0.3;
--right-brightness: 0;
--popout-modal-brightness: 0.4;
--gradient-primary: 255,61,135;
--gradient-secondary: 255,128,128;
--gradient-direction: 155deg;
--tint-colour: 255,51,159;
--tint-brightness: 0;
--window-padding: 0px;
--window-roundness: 0px;
--scrollbar-colour: #ffffff0d;
--link-colour: #030BFFFF;
--show-gift-gif-buttons: no-repeat;
--font: 'Roboto';
--update-notice-1: none;
}